<!DOCTYPE html>
<html>
    <body>
<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
    <li>@Html.ActionLink("Juegos", "Index", "Juegos")</li>
    <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
    <li>@Html.ActionLink("Datos del Alumno", "Alumno", "Home")</li>
</ul>
</body>
</html>
