@model PIA_EQJOSEPE.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<h2>Agregar Usuario</h2>

<form method="post">

    <label>Nombre:</label>
    <input type="text" name="Nombre_usu" class="form-control" required />

    <label>Email:</label>
    <input type="email" name="Email" class="form-control" required />

    <label>Cumpleaños:</label>
    <input type="date" name="Cumpleaños" class="form-control" required />

    <br />
    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="/Usuarios" class="btn btn-secondary">Regresar</a>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
