@model IEnumerable<PIA_EQJOSEPE.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h2>Usuarios Registrados</h2>

<p>
    <a href="/Usuarios/Crear" class="btn btn-primary">Agregar Usuario</a>
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Cumpleaños</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id_usuario</td>
                <td>@item.Nombre_usu</td>
                <td>@item.Email</td>
                <td>@item.Cumpleaños.ToShortDateString()</td>
                <td>
                    <a href="/Usuarios/Editar/@item.Id_usuario" class="btn btn-warning">Editar</a>
                    <a href="/Usuarios/Eliminar/@item.Id_usuario" class="btn btn-danger"
                       onclick="return confirm('¿Seguro que deseas eliminar este usuario?');">
                        Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
