@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" font="Arial">Binevenidos al PIA</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h2 class="mt-5">Lista de Integrantes</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Matricula</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Barajas Ortega Jose Arath</td>
            <td>2209836</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Cervantes Duelos Jose Alfredo</td>
            <td>2210128</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Mejia de la Cruz Aaron Eduardo</td>
            <td>2211030</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Mejia Garcia Devany Alejandra</td>
            <td>2210672</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Zacarias Colunga Luis Gerardo</td>
            <td>2209702</td>
        </tr>
    </tbody>
</table>
