html {
  font-size: 14px;
  background-color: #808080;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
  cursor:pointer;
}

html {
  position: relative;
  min-height: 100%;
}

table th:nth-child(1) {
    background-color: #808080;
}

table th:nth-child(2) {
    background-color: #B5B0B0;
}

table th:nth-child(3) {
    background-color: #D6D4D4;
}

table td:nth-child(1) {
    background-color: #ee8;
}

table td:nth-child(2) {
    background-color: #81A5EB;
}

table td:nth-child(3) {
    background-color: #F5405C;
}

h1 {
    font-family: Arial;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5), /* sombra principal */
    -2px -2px 4px rgba(255,0,0,0.5);
}

body {
    margin-bottom: 60px;
    background-color: #ECEBF2;
}

header {
    background-color: black;
    font-size: 20px;
    font-family: italic;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.container-fluid {
    align-items: center;
    display: flex;
    justify-content: center;
}

header a{
    color:white;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300');

*,
*::before,
*::after {
    box-sizing: border-box;
}

.containerbird {
    z-index: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 35rem;
    background-image: linear-gradient(to bottom, rgba(255,168,76,0.6) 0%,rgba(255,123,13,0.6) 100%), url('https://images.unsplash.com/photo-1446824505046-e43605ffb17f');
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center center;
    padding: 2rem;
}